body {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Lato';
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato';
  font-weight: 900;
  line-height: 1.1;
  color: #333333;
}

h1,
.h1 {
  font-size: 46px
}

h2,
.h2 {
  font-size: 40px
}

p {
margin: 0 0 20px;
}

a:hover,
a:focus {
  text-decoration: none;
}

.jumbotron {
  padding: 25px 25px 20px 25px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  color: #f5f5f5;
  background-color: #eeeeee;
  background: url(http://subtlepatterns.com/patterns/carbon_fibre.png)
}

.jumbotron .page-header {border-bottom: 0px;}

.media-heading { margin: 0 0 10px; }

.small{ font-size: 70% }

@media (min-width: 768px) { .container {  width: 750px; } }
@media (min-width: 992px) { .container {  width: 850px;  } }
@media (min-width: 1200px) {  .container {  width: 850px;  } }

.fa{ padding-right: 7px; }
a .fa{ color: #A3A3A3;}

footer{
	margin-left: -30px;
	margin-top: 100px;
	background-color: #666666;
	color: #eeeeee;
	font-size: 12px;
	padding: 10px;
	font-family: sans-serif;
}

.padding-even-small{padding: 5px}
.padding-even-med{padding: 10px}
.padding-even-large{padding: 20px}

.padding-top-small{ padding-top: 5px; }
.padding-top-med{ padding-top: 10px; }
.padding-top-large{ padding-top: 20px; }

.padding-left-small{ padding-left: 5px; }
.padding-left-med{ padding-left: 10px; }
.padding-left-large{ padding-left: 20px; }

.padding-right-small{ padding-right: 5px; }
.padding-right-med{ padding-right: 10px; }
.padding-right-large{ padding-right: 20px; }

.margin-top-small{ margin-top: 5px; }
.margin-top-med{ margin-top: 10px; }
.margin-top-large{ margin-top: 20px; }

.margin-left-small{ margin-left: 5px; }
.margin-left-med{ margin-left: 10px; }
.margin-left-large{ margin-left: 20px; }

.margin-bottom-small{ margin-bottom: 5px; }
.margin-bottom-med{ margin-bottom: 10px; }
.margin-bottom-large{ margin-bottom: 20px; }

.login-div{
  width: 300px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.social-icons{
  font-size: 25px;
}

.default-color{
  color: #666666;
}

.dark-background{
  background: #505050;
  color: white;
}

.dark-background a .fa{
  color: white;
}