body {
  padding-top: 50px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Lato';
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato';
  font-weight: 900;
  line-height: 1.1;
  color: #333333;
}

a:hover,
a:focus {
  text-decoration: none;
}

.media-heading { margin: 0 0 10px; }

.small{ font-size: 70% }

@media (min-width: 768px) { .container {  width: 750px; } }
@media (min-width: 992px) { .container {  width: 850px;  } }
@media (min-width: 1200px) {  .container {  width: 850px;  } }

.fa{ padding-right: 7px; }
a .fa{ color: #666666;}

footer{
	margin-left: -30px;
	margin-top: 100px;
	background-color: #666666;
	color: #eeeeee;
	font-size: 12px;
	padding: 10px;
	font-family: sans-serif;
}

.padding-even-small{padding: 5px}
.padding-even-med{padding: 10px}
.padding-even-large{padding: 20px}

.padding-top-small{ padding-top: 5px; }
.padding-top-med{ padding-top: 10px; }
.padding-top-large{ padding-top: 20px; }

.padding-left-small{ padding-left: 5px; }
.padding-left-med{ padding-left: 10px; }
.padding-left-large{ padding-left: 20px; }

.margin-top-small{ margin-top: 5px; }
.margin-top-med{ margin-top: 10px; }
.margin-top-large{ margin-top: 20px; }

.margin-left-small{ margin-left: 5px; }
.margin-left-med{ margin-left: 10px; }
.margin-left-large{ margin-left: 20px; }

.login-div{
  width: 300px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.default-color{
  color: #666666;
}

.dark-background{
  background: #cccccc;
  color: white;
}

.dark-background a .fa{
  color: white;
}