{{template "header"}}
<div class="pull-right dark-background margin-top-large">
  <a href="/logout"><i class="fa fa-sign-out padding-even-med"></i></a>
</div>

<div class="container">
  <form role="form" action="/saveentry/" method="POST" parsley-validate>
    <input type="hidden" name="ID" id="ID" value="{{.Entry.ID}}"/>
    <div class="page-header margin-top-large">
      <div class="padding-left-small">
        <a href="/" class="default-color">
          <img src="/images/{{.Profile.Picture}}" width="25px" class="img-circle"> <small>{{.Profile.Name}}</small>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 padding-left-large">

        <div class="form-group">
          <input type="text" class="form-control input-lg" id="Title" name="Title" placeholder="Title" value="{{.Entry.Title}}" required>
        </div>

        <small class="padding-left-med">
          Text can be edited using <a href="http://daringfireball.net/projects/markdown/">Markdown</a> with the following 
          <a href="https://github.com/russross/blackfriday/blob/master/README.md#extensions"> extensions</a>.
        </small>

        <div class="pull-right margin-bottom-small">
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadPhotoModal">
            <span class="glyphicon glyphicon-upload"></span> Add Image
          </button> 
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span> Image Library
          </button>
        </div>

        <textarea class="form-control input-lg" rows="17" id="Markdown" name="Markdown" required>{{.Entry.Markdown}}</textarea>
      </div>
    </div>

    <div class="row margin-top-small">
      <div class="col-md-12"> 
        <div class="pull-right">
          <a href="#" class="btn btn-default"> 
            <span class="glyphicon glyphicon-eye-open"></span> Preview
          </a>
          <button type="submit" class="btn btn-primary padding-left-large padding-right-large"> 
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/uploadimage/" id="imageUploadForm" method="POST" enctype="multipart/form-data" parsley-validate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Upload Photo</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="file" id="photo" name="photo" accept="image/jpg,image/png" required>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div><!-- /.container -->

{{template "footer"}}

<script>

$(document).ready(function (e) {
  $('#imageUploadForm').on('submit',(function(e) {
    e.preventDefault()
    var data = new FormData();
    data.append("photo", $('#photo')[0].files[0]);
    $.ajax({
        type:'POST',
        url: $(this).attr('action'),
        data: data,
        cache: false,
        contentType: false,
        processData: false
      })
      .done(function( data ) {
        $('#uploadPhotoModal').modal('hide')
        $('#Markdown').insertAtCaret('\n\n <img src="'+data+'" class="img-responsive"/>\n\n');
      })
      .fail(function(data) {
        alert("There was an error uploading the image.")
      });
  }));

});
</script>
