{{template "header"}}
  {{if .LoggedIn}}
    <div class="pull-right dark-background margin-top-large">
      <a href="/logout"><i class="fa fa-sign-out padding-even-med"></i></a>
    </div>
  {{end}}
  
    <div class="container">
      <div class="row padding-top-small">
        <div class="col-md-11 padding-left-large">
          <div class="page-header">
            {{if .LoggedIn}}
              <a href="/editentry/{{.Entry.ID}}"> <span class="badge pull-right">edit entry</span> </a>
            {{end}}
            <h1>{{.Entry.Title}}</h1>
            <div class="padding-left-small">
              <a href="/" class="default-color">
                <img src="/images/monkey.jpg" width="25px" class="img-circle"> <small>{{.Profile.Name}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row padding-top-small">
        <div class="col-md-11 padding-left-large">
          {{.Entry.Body}}
        </div>
      </div>

      <div class="row padding-top-large">
        
        <div class="col-md-11 text-right"> 
          <hr>
          <button type="button" class="btn btn-primary">
            Next <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>

    </div><!-- /.container -->

{{template "footer"}}
