{{template "header"}}
  {{ $loggedIn := .LoggedIn }}
  <div class="pull-right dark-background margin-top-large">
    {{if $loggedIn}}
      <a href="/logout"><i class="fa fa-sign-out padding-even-med"></i></a>
    {{else}}
      <a href="/login"><i class="fa fa-user padding-even-med"></i></a>
    {{end}}
    
  </div>

  <div class="jumbotron">
      <div class="container">
          <div class="page-header">
            <div class="media">
              <a class="pull-left" href="/">
                <img src="/images/{{.Profile.Picture}}" width="120px" class="img-circle margin-top-med">
              </a>
              <div class="media-body padding-top-sm padding-left-large">
                <h1 class="media-heading">
                  {{.Profile.Name}}
                  {{if .LoggedIn}}
                    <a href="/editprofile"> <span class="badge">edit profile</span> </a>
                  {{end}}
                </h1>
                <p>
                  {{.Profile.TagLine}}

                </p>
                <div class="padding-left-small">
                  {{if .Profile.GitHub}}
                    <a href="{{.Profile.GitHub}}"><i class="fa fa-github"></i> </a>
                  {{end}}

                  {{if .Profile.LinkedIn}}
                    <a href="{{.Profile.LinkedIn}}"><i class="fa fa-linkedin"></i> </a>
                  {{end}}

                  {{if .Profile.Twitter}}
                    <a href="{{.Profile.Twitter}}"><i class="fa fa-twitter"></i> </a>
                  {{end}}
                  
                  {{if .Profile.Facebook}}
                    <a href="{{.Profile.Facebook}}"><i class="fa fa-facebook"></i> </a>
                  {{end}}

                  

                </div>

              </div>
            </div>

          </div>
      </div>
    </div>

    <div class="container">
      {{if $loggedIn}}
        <a href="/editentry/" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus-circle"></i> New Entry</a>
      {{end}}
      
      {{range $entry := .Entries}}
        <div class="row padding-top-large">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
            <a href="/entry/{{$entry.ID}}">
              <h2>{{$entry.Title}}</h2>
            </a>
          </div>
        </div>

        <div class="row padding-top-small">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
            {{$entry.Body}}
            <a href="/entry/{{$entry.ID}}" class="btn btn-default margin-top-med">
              Continue Reading
            </a>
            <p><hr></p>
          </div>
        </div>
                
      {{end}}
      
      <div class="row padding-top-large">
        <div class="col-md-2"> </div>
        <div class="col-md-8 text-right">
          {{if .MorePosts}}
          <a href="/{{.NextPage}}" class="btn btn-primary">
            Next <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          {{end}}
        </div>
      </div>

    </div><!-- /.container -->

{{template "footer"}}